html {
  background-color: #303030;
}

body {
  width: 600px;
  height: auto;
  margin-left:auto;
  margin-right:auto;
  margin-top: 100px;
  color: #fff;
  font-family: 'Raleway' sans-serif;
}

h1 {
  text-align: center;
  color: #e67e22;
  font-size:60px;
  font-weight:bold;
}

a {
  text-decoration: none;
  color: #e67e22;
}

p {
  text-align: justify;
}
